body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #141313;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}
.size{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    font-weight: bold;
    font-size: 27px;
}

nav a:hover {
    text-decoration: underline;
    
}

main {
    padding: 20px;
}
.go-to-cart{
    font-size: 20px;
}

.product-list, .cart {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
}

.product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    text-align: left;
}

.product img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

.product-info {
    flex: 1;
}

.product button {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product button:hover {
    background-color: #0056b3;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control button {
    padding: 6px 10px;
    border: 1px solid #007bff;
    color: #007bff;
    background: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.quantity-control button:hover {
    background-color: #007bff;
    color: #fff;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.cart-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

.clear-cart, .filter-products, .sort, .place-order {
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.clear-cart {
    background-color: #dc3545;
}

.filter-products {
    background-color: #007bff;
}

.sort {
    background-color: #28a745;
}

.place-order {
    background-color: #28a745;
}

.clear-cart:hover {
    background-color: #c82333;
}

.filter-products:hover {
    background-color: #0056b3;
}

.sort:hover {
    background-color: #218838;
}

.place-order:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .product {
        flex-direction: column;
        align-items: flex-start;
    }

    .product img {
        margin-bottom: 10px;
    }

    .quantity-control {
        flex-direction: column;
    }
}
